#Generic git ignore file

# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
downloaded_zip/
# Backup files #
*.bak

# If you are using PyCharm #
*.idea*

# Python #
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
